
    <mat-nav-list>
      <a href="#" mat-list-item>
          <mat-icon>add</mat-icon>
          Add Social Networks
      </a>
      <a href="#" mat-list-item>
          <mat-icon>category</mat-icon>
          Streams
      </a>
      <a href="#" mat-list-item>
          <mat-icon>edit</mat-icon>
          Compose
      </a>
      <a href="#" mat-list-item>
          <mat-icon>calendar_today</mat-icon>
          Publisher
      </a>
      <a href="#" mat-list-item>
        <mat-icon>account_box</mat-icon>
        My Account
      </a>
      
      <!-- <a (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon> Close
      </a> -->
    </mat-nav-list>

