<!-- <mat-tab-group animationDuration="0ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Posts
      </ng-template>
      Content 1
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Friends
      </ng-template>
      Content 2
    </mat-tab>
  
  </mat-tab-group> -->

  <div class="container">
    <div class="insta" fxLayout="row"  fxLayoutWrap fxLayout.lt-md="column" fxLayoutGap="5%" fxLayoutAlign="space-between">
      <div fxFlex="25%" class="box fbox mat-elevation-z4" >
        <div *ngFor = "let iaccount of data; let i = index"  matRipple>
          <div [routerLink] = "[i]" routerLinkActive="active">
            <div class="instaitem">
              <img src="../../../../assets/images/{{iaccount.profile.profilepic}}" >
              <div class="uname">
                <h3>@{{iaccount.profile.username}}</h3>
                <p>{{iaccount.profile.first_name}} {{iaccount.profile.last_name}}</p>
              </div>          
            </div>   
          </div> 
        </div>
      </div>
      <div fxFlex="75%" class="box tbox mat-elevation-z4" matRipple >
          <router-outlet></router-outlet>
      </div>
      
    </div>
  </div>
