<!-- <mat-tab-group animationDuration="0ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Posts
      </ng-template>
      Content 1
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Friends
      </ng-template>
      Content 2
    </mat-tab>
  
  </mat-tab-group> -->

  <div class="container">
    <div class="insta" fxLayout="row"  fxLayoutWrap fxLayout.lt-md="column" fxLayoutGap="5%" fxLayoutAlign="space-between">
      <div fxFlex="25%" class="box fbox mat-elevation-z4" matRipple [matRippleColor]="'primary'">
          <p>Instagram 1</p>
      </div>
      
      <div fxFlex="75%" class="box tbox mat-elevation-z4" matRipple [matRippleColor]="'primary'">
          <p>Instagram 1 content</p>
      </div>
      
    </div>
  </div>
