<div class="container">
  
    <h1>Add Social Networks</h1>
    <p>HootSuite lets you add multiple social networks to view , post, and schedule messages on the go.</p>

    <div class="socials" fxLayout="row"  fxLayoutWrap fxLayout.lt-md="" fxLayoutGap="5%" fxLayoutAlign="space-between">
        <div fxFlex="25%" class="box fbox mat-elevation-z4" matRipple [matRippleColor]="'primary'">
            <img src="../../../assets/images/facebook.png">
        </div>
        
        <div fxFlex="25%" class="box tbox mat-elevation-z4" matRipple [matRippleColor]="'primary'">
            <img src="../../../assets/images/twitter.png">
        </div>
        <div fxFlex="25%" class="box ibox mat-elevation-z4" matRipple [matRippleColor]="'primary'" (click)="openDialog()">
            <img src="../../../assets/images/instagram.png">
        </div>
        <div fxFlex="25%" class="box lbox mat-elevation-z4" matRipple [matRippleColor]="'primary'">
            <img src="../../../assets/images/linkedin.png">
        </div>
    </div>
    
</div>

