<div>
    <h1>Add Social Networks</h1>
    <p>HootSuite lets you add multiple social networks to view , post, and schedule messages on the go.</p>

    <div  fxLayout="row"  fxLayoutWrap fxLayout.lt-md="column" fxLayoutGap="10%" fxLayoutAlign="space-between">
        <div fxFlex="33%" class="box fbox mat-elevation-z4" matRipple [matRippleColor]="'primary'">
            <img src="../../../assets/images/facebook.png">
        </div>
        <div fxFlex="33%" class="box ibox mat-elevation-z4" matRipple [matRippleColor]="'primary'">
            <img src="../../../assets/images/instagram.png">
        </div>
        <div fxFlex="33%" class="box tbox mat-elevation-z4" matRipple [matRippleColor]="'primary'">
            <img src="../../../assets/images/twitter.png">
        </div>
    </div>
</div>

