<mat-tab-group animationDuration="0ms">
    <mat-tab >
      <ng-template mat-tab-label >
        <a routerLink="instagram" routerLinkActive="active">
          <img src="../../../assets/images/Instagram_logo.png">
          <h3>Instagram</h3>
        </a>  
        </ng-template>
    </mat-tab>
  
    <mat-tab >
      <ng-template mat-tab-label >
        <a routerLink="facebook" routerLinkActive="active">
          <img src="../../../assets/images/fb_logo.png">
          <h3>Facebook</h3>
        </a>  
        </ng-template>
    </mat-tab>
  
    
  </mat-tab-group>
        
  <router-outlet></router-outlet>