<mat-tab-group animationDuration="0ms">
    <mat-tab >
      <ng-template mat-tab-label >
        <a routerLink="instagram">
          <img src="../../../assets/images/Instagram_logo.png">
          <h3>Instagram</h3>
        </a>  
        </ng-template>
        
      <router-outlet></router-outlet>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Second
      </ng-template>
      Content 2
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Third
      </ng-template>
  
      Content 3
    </mat-tab>
  </mat-tab-group>
