mat-form-field{
    width: 100%;
    margin-bottom: 15px;
}

.instaform{
    padding: 30px 50px;
    text-align: center;
}
.head{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.instaform img{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 6px 6px 0 0 !important;
    border : 1px solid darkgray;
    background-color: gainsboro;
}
.instaform button{
    width: 100%;
    background: #1976d2;
    color: white;
}