
<section>
    <div class="container">
      <div class="heading" >
          <h1 >Welcome to HootSuite!</h1>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-between">
          <div fxFlex="70%">
            <div  fxLayout="row"  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-between">
              <div fxFlex="50%" class="box mat-elevation-z4" matRipple [matRippleColor]="'primary'">
                  <p>Save Time by Scheduling posts to your favourite social networks</p>
                  <img src="../../../assets/images/savetime.png">
              </div>
              <div fxFlex="50%" class="box mat-elevation-z4" matRipple [matRippleColor]="'primary'">
                  <p>Preview and edit your scheduled posts on the go</p>
                  <img src="../../../assets/images/preview.png">
              </div>
            </div>
            <div  fxLayout="row"  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-between">
              <div fxFlex="50%" class="box mat-elevation-z4" matRipple [matRippleColor]="'primary'">
                  <p>Monitor likes,comments and engagement on all your posts</p>
                  <img src="../../../assets/images/like.png">
              </div>
              <div fxFlex="50%" class="box mat-elevation-z4" matRipple [matRippleColor]="'primary'">
                  <p>Do your work with streams and flexibity</p>
                  <img src="../../../assets/images/fl.png">
              </div>
            </div>
          </div>
          <div fxFlex="30%" class="rightbox">
              <div fxLayout="column"  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-between">
                  <button mat-raised-button color="primary" routerLink="login" >I already have an account</button>
                  <button mat-raised-button color="accent" routerLink="signup">I don't have an account</button>
              </div>
          </div>
      </div>
    </div>
</section>

  
