    <div class="instapost">
        <div class="header">
            <img src="../../../../../assets/images/Instagram_logo.png">
            <h2>My Posts</h2>
            <h3>@{{instaaccount.profile.username}}</h3>
        </div>

        <div class="posts">
            <div *ngFor = "let postnode of instaaccount.posts.edges">
                <div class="post">
                    <div class="pheader">
                        <img src="../../../../assets/images/{{instaaccount.profile.profilepic}}" />
                        <div>
                            <h3>@{{instaaccount.profile.username}}</h3>
                            <h4>{{postnode.node.timestamp * 1000 | date:'dd/MM/yyyy hh:mm:ss'}}</h4>
                        </div>
                    </div>
                    <div class="pcaption"  *ngIf="postnode.node.caption[0] !== undefined">
                        <p>{{postnode.node.caption[0].node.text}}</p> 
                    </div>
                    <div class="pimg">
                        <img crossorigin="" src ="{{postnode.node.display_url}}" >
                    </div>
                    <div class="pfooter">
                        <div class="first">
                            <div class="second">
                                <img src="../../../../../assets/images/ilike.png" />
                                <p>{{postnode.node.likes}}</p>
                            </div>
                            <div class="second">
                                <img src="../../../../../assets/images/icomment.png" />
                                <p>{{postnode.node.comments}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
